.DS_Store
.pytest_cache/
*.egg-info/
data/
models/
.lgd-nfy0
.env
.venv
.vscode
__pycache__/
.agents/
plant_pipeline/test_images/

# Allow EfficientAD weights
!EfficientAD/models/

/dist/
PlantDoc/
PlantVillage/
anomaly_maps/